# System
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Manifold
.manifold.yml

# Stencil
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
coverage/
dist/
loader/
react/
node_modules/
www/
$RECYCLE.BIN/

.npmrc

manifold-init-types/types/